.Card {
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 20px;

	&--blue {
		background-color: #47e2eb;
	}

	&--yellow {
		background-color: #f5efcc;
	}

	&--purple {
		background-color: #97a5e3;
	}

	&--orange {
		background-color: #eba084;
	}

	&__title {
		font-size: 16px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__vocal {
		font-style: italic;
		font-size: small;
	}

	&__tag {
		padding: 4px 6px;
		background-color: #e2e2e2;
		border-radius: 10px;
		font-size: 12px;
		font-weight: bold;
		display: flex;
		align-items: center;

		&--blue {
			background-color: #16c1ca;
			color: #0a585c;
		}
		&--yellow {
			background-color: #eee4aa;
			color: #776918;
		}
		&--purple {
			background-color: #7e8fdd;
			color: #223481;
		}

		&--orange {
			background-color: #e58461;
			color: #af441d;
		}
	}
}
